@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ezyKnight</h2>
<div>
    <canvas id="gameArea" height="500" width="500" />
    ​​​​​​​​​​​​​​​
</div>
<div>
    <ul id="chat">
    </ul>
    <input type="text" id="chatMessage" />
    <input type="button" id="chatButton" value="Send" />


    <br />
    <br />
    Playername:
    <input type="text" id="playerName" /><br />
    Color =
    <input type="text" id="playerColor" />
    <input type="button" id="submitPlayerName" value="Submit" /><br />
    <input type="button" value="Send join to everyone" id="sendPlayerCollection"/>
</div>
@section script{
    <script language="javascript">
        var playerX = 0;
        var playerY = 0;
        var players = [];
        var hasJoined = false;
        $(function () {
            $.connection.hub.start().done(function () { console.log("Now connected!"); }).fail(function () { console.log("Could not Connect!"); });
            var gameHub = $.connection.gameHub;
            console.log(gameHub.client);
            $("#submitPlayerName").click(function () {
                gameHub.server.join($("#playerName").val(), $("#playerColor").val()).done(function (result) {

                    hasJoined = true;

                }).fail(function (error) {
                    console.log(error);
                });
            });

            $("#sendPlayerCollection").click(function() {
                gameHub.server.sendPlayers();
            });

            gameHub.client.joined = function (result) {
                console.log(result);
                clearPlayers();
                players = [];
                $.each(result, function () {
                    players.push({ id: this.Value.Id, name: this.Value.Name, x: this.Value.X, y: this.Value.Y,color: this.Value.Color });
                    drawPlayer(this.Value.X, this.Value.Y, this.Value.Color);
                });
            };
            gameHub.client.addChatMessage = function (message) {
                $("#chat").append("<li>" + message + "</li>");
            };
            gameHub.client.collision = function (player) {
                console.log(player);
                playerX = player.X;
                playerY = player.Y;
            };
            gameHub.client.moved = function (player) {
                $.each(players, function () {
                    if (this.id == player.Id) {
                        this.x = player.X;
                        this.y = player.Y;
                    }
                });
                clearPlayers();
                $.each(players, function () {
                    drawPlayer(this.x, this.y, this.color);
                });
            };

            $("#chatButton").click(function () {
                var message = $("#chatMessage").val();
                $("#chat").append("<li>You: " + message + "</li>");
                gameHub.server.send(message)
                    .done(function (result) {

                    })
                    .fail(function (error) {
                        console.log(error);
                    });
            });

            document.onkeydown = function (e) {
                if (hasJoined == false) {
                    return;
                }

                if (e.keyCode == 87) {
                    playerY -= 32;
                }
                else if (e.keyCode == 65) {
                    playerX -= 32;
                }
                else if (e.keyCode == 83) {
                    playerY += 32;
                }
                else if (e.keyCode == 68) {
                    playerX += 32;
                }

                else { }
                console.log(playerX);
                console.log(playerY);
                gameHub.server.move(playerX, playerY).fail(function (error) { console.log(error); });
            };

        });

        function clearPlayers() {
            var canvas = document.getElementById("gameArea");
            var player = canvas.getContext("2d");
            player.clearRect(0, 0, 500, 500);
        }
        function drawPlayer(x, y, color) {
            var canvas = document.getElementById("gameArea");
            var player = canvas.getContext("2d");
            player.fillStyle = color;

            player.fillRect(x, y, 32, 32);
        };
    </script>
}
