body {
    font-family: Verdana;
    background: #333;
    color: #fff;
}

#game-wrapper {
    width: 960px;
    height: 448px;
    position: relative;
    margin: 0 auto;
    border: 5px solid #ccc;
}

    #game-wrapper canvas {
        position: absolute;
    }

#class-wrapper {
    position: absolute;
    text-align: center;
    z-index: 100;
    height: 164px;
    width: 490px;

    margin-top: 50%;
    top: -82px;
    margin-left: 50%;
    left: -245px;
    
}

#class-wrapper h3 {
    margin: 0;
}

div.selectClass ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

    div.selectClass ul li {
        float: left;
    }

.playerclass {
    background: url("/Content/player_sprite_large.gif");
    height: 78px;
    width: 78px;
    display: block;
    border: 4px solid transparent;
    background-repeat: no-repeat;
    background-color: #fff;
    border-radius: 50px;
    margin-right: 10px;
}

.playerclass.active {
    border-color: red;
}

.playerclass.brown {
    background-position: -78px 0;
}

.playerclass.gold {
    background-position: -312px 0;
}

.playerclass.blue {
    background-position: -156px 0;
}

.playerclass.red {
    background-position: 0px 0;
}

.playerclass.green {
    background-position: -234px 0;
}

#chat-wrapper {
    width: 960px;
    margin: 0 auto;
}

#chat-box {
    height: 250px;
    overflow: auto;
}


#chat-wrapper ul {
    list-style-type: none;
    marign: 0;
    padding: 0;
}

#chat-wrapper ul.li:nth-child(even) {
    background: #eee;
}