@using System.Configuration
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ezyKnight</title>
    <link href="/Content/game.css" rel="stylesheet" />
</head>
<body>
    <div>
        @RenderBody()
    </div>
    <script src="/Scripts/jquery-1.6.4.min.js" type="text/javascript"></script>
    <script src="/Scripts/jquery.signalR-1.0.0-alpha2.min.js" type="text/javascript"></script>
    <script src="@ConfigurationManager.AppSettings["signalr.host.hubs"]" type="text/javascript"></script>
    @RenderSection("script")
</body>
</html> 
